<div class="card">
    <div class="card-header bg-dark">
        <h3>Create New Post</h3>
    </div>
    <div class="card-body">
        <form id="new-post-form">
            <div class="form-group">
                <label for="post-title">Title</label>
                <input type="text" id="post-title" class="form-control" />
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea id="content" class="form-control" rows="4"></textarea>
            </div>

            <button type="submit" class="btn text-light bg-secondary btn-block">Create</button>
        </form>
    </div>
</div>

<script src="/js/add-post.js"></script>
